.mainWindow {
  padding-top: 15px;
}

.replyButton {
  color: #0B6EFD;
  font-size: 14px;
}

.replies {
  padding-left: 20px;
}

.commentCard {
  border-radius: 5px;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  padding-left: 10px;
}

.commentBlock {
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentUsername {
  font-weight: 600;
}

.voteNumber {
  padding-right: 16px;
}

.header {
  background-color: white;
}