.replyButton {
  color: #0B6EFD;
}

.replies {
  padding-left: 20px;
}

.commentCard {
  border-radius: 5px;
  border-top: 1px solid #DFDFDF;
  border-left: 2px solid #0B6EFD;
  padding-top: 10px;
  padding-left: 10px;
}

.voteNumber {
  padding-right: 16px;
}