.upVote {
  margin-right: 8px;
  margin-top: -10px;
  float: right; 
  position: static;
}

.downVote {
  margin-right: 8px;
  float: right;
  position: static;
}

.displayVotes {
  float: right;
  margin-right: -20px;
  position: static;
  margin-top: 22px;
}